body {
	margin: 8px;
}

h1 {
	margin-bottom: 1ex;
	font-size: 1.5em;
}

#nodes li:not(:hover) a {
	display: none;
}

#nodes textarea {
	display: block;
	width: 50em;
	max-width: 100%;
	height: 8em;
}

.timeline-editor-input {
	width: 30em;
}

#login, #login-status {
	display: none;
}