html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#container {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	width: 100%;
}

#timeline {
	height: 40px;
	/*border: 1px solid #BC987E;*/
	position: relative;
	background-color: #edc;
}
#timeline-track {
	position: absolute;
	/*border: 1px solid #483C32;*/
	background-color: #BC987E;
	top: 50%;
	left: .5em;
	right: .5em;
	margin-top: -.4em;
	        user-select: none;
	     -o-user-select: none;
	   -moz-user-select: none;
	 -khtml-user-select: none;
	-webkit-user-select: none;
	     border-radius: .4em;
	-moz-border-radius: .4em;
}
#timeline-track-inner {
	margin-right: 4.8em; /* slider width */
	cursor: move;
}
#timeline .date {
	padding: 0 .5em;
	/*color: #8B8589;*/
	/*color: #876;*/
	color: #483C32;
	position: absolute;
	white-space: nowrap;
	cursor: move;
}
#timeline #current-date {
	position: relative;
	display: inline;
	text-align: center;
	color: #000;
	border: 1px solid #905D5D;
	background-color: #ddc1a8; /*ddc1a8,ccac93,BC987E*/
	line-height: 1em;
	padding: .2em .4em;
	     border-radius: .5em;
	-moz-border-radius: .5em;
}
#current-date:hover {
	background-color: #e6cca8;
}
#current-date:active {
	background-color: #f3dcb5;
}

#timeline .date.left {
	left: 0;
	text-align: left;
}
#timeline .date.right {
	right: 0;
	text-align: right;
}

#map-container {
	height: 60%;
	background-color: #483C32;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
}

#map {
	position: relative;
	display: inline-block;
}

#map-img {
	height: 100%;
	display: block;
}

#map .node {
	position: absolute;
	display: block;
	font-size: 0;
	width: 1em;
	height: 1em;
	margin: -.5em;	
	background-color: #674C47;
	        border-radius: 1em;
	     -o-border-radius: 1em;
	   -moz-border-radius: 1em;
	 -khtml-border-radius: 1em;
	-webkit-border-radius: 1em;
}
#map .node:hover {
	background-color: #967117;
}
#map .node:active {
	background-color: #C25D1E;
}

#info {
	height: 40%;
	background-color: #edc;
	/*border: 1px solid #8B8589;*/
}

#node-headings-outer, #node-thread-content-outer {
	height: 100%;
	overflow: auto;
}
#node-headings-outer {
	float: left;
	border-right: 1px solid #999;
}
#node-headings {
	margin: 0 1em;
	min-width: 6em;
}
#node-thread-content, #node-thread-heading {
	margin: 1em;
	line-height: 1.6em;
}

#node-headings h2 {
	font-size: 1em;
	color: #433;
}
#node-headings h3 {
	font-size: 1em;
	color: #905D5D;
}
#node-headings h3 a {
	color: inherit;
}
#node-thread-content-outer h4 {
	color: #483C32;
}

#edit-link {
	font-size: .75em;
	float: right;
	margin: 1em;
}
